In [2]:
import pandas as pd

In [15]:
df_grafico_futebol = pd.read_csv('./dataset_futebol.csv').head(100)

# Configurar Pandas para exibir todas as linhas e colunas
df_sem_colunas = df_grafico_futebol.drop(columns=['ID_Jogador', 'Número_da_Camisa','Nome_Jogador'])
df_sem_colunas[['Altura_cm', 'Peso_kg']] = df_sem_colunas[['Altura_cm', 'Peso_kg']].round(2)
df_sem_colunas['Partidas_Jogadas']  = df_sem_colunas[['Minutos_Jogados']].apply(lambda x: x//90)
df_sem_colunas

,Posição,Gols_Marcados,Assistências,Faltas_Cometidas,Minutos_Jogados,Altura_cm,Peso_kg,Partidas_Jogadas
0,Goleiro,21,8,3,2690,162.80,60.71,29
1,Meia,27,2,1,1416,185.61,84.10,15
2,Defensor,19,9,1,3375,170.85,74.59,37
3,Meia,0,18,8,3152,183.71,75.46,35
4,Atacante,9,2,4,1996,187.21,82.58,22
...,...,...,...,...,...,...,...,...
95,Meia,17,11,8,2859,197.46,78.48,31
96,Goleiro,18,14,4,3812,195.04,99.66,42
97,Defensor,21,14,0,944,171.11,98.83,10
98,Goleiro,4,5,9,2845,194.06,97.69,31
99,Meia,23,11,6,1451,160.01,91.35,16