In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install numpy

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install scipy

Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\programdata\anaconda3\lib\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd #import

In [13]:
import numpy as np #import

In [18]:
import scipy.stats as stats

In [5]:
df_grafico = pd.read_csv('./Base_de_Dados_Acad_mica.csv') #leitura do arquivo e declarando df

        Aluno  Nota_Prova1  Nota_Prova2  Nota_Trabalho  Frequencia (%)
0     Aluno_1     7.745071     3.952333       8.429345       64.101729
1     Aluno_2     6.792604     5.742838       8.672941       58.871977
2     Aluno_3     7.971533     5.883114       9.299661       87.530738
3     Aluno_4     9.284545     5.055901       9.264562       90.341737
4     Aluno_5     6.648770     6.209686       6.346797       99.525257
..        ...          ...          ...            ...             ...
95   Aluno_96     4.804728     7.193571       7.168508       84.787434
96   Aluno_97     7.444180     4.909057       9.079520       72.727053
97   Aluno_98     7.391583     6.776705       8.368759       81.377904
98   Aluno_99     7.007670     6.604776       8.975435       79.215716
99  Aluno_100     6.648119     4.442653       8.755555       95.057901

[100 rows x 5 columns]

In [9]:
df_grafico_media_prova1 = df_grafico['Nota_Prova1'].mean() #pegando media da prova 1
df_grafico_media_prova1 #print media

6.84423022390886

In [11]:
df_grafico_mediana_prova1 =  df_grafico['Nota_Prova1'].median() #pegando mediana da prova 1
df_grafico_mediana_prova1 #print mediana

6.809565562330431

## Conclusão da Média e Mediana da prova 1 

A conclusão que cheguei foi que tanto a media quanto a mediana são proximas, o que demostra que a sala teve uma distribuição de nota bem constante, entretanto, como a nota media foi de 6.8 isso demonstra que mais pessoas tiraram notas acima de 7 do que abaixo de 6.

In [20]:
media_aparada_porcentagem = 0.1
df_grafico_nota_prova2 = df_grafico['Nota_Prova2']

media_aparada = stats.trim_mean(df_grafico['Nota_Prova2'],proportiontocut=0.1)
media_aparada

6.4535921792135325

## Conclusão Média Aparada Prova 2

Podemos utilizar a media aparada pra reduzir a nossa amostra e tentar minimizar extremos, ou seja, tentar pegar uma amostragem mais limpa do que a maioria tirou, sendo assim nossa media de nota com a media aparada foi de 6.4, que junto do que analizamos acima, demostra um padrão q mais pessoas tiraram perto de 6 nessa amostragem.

In [ ]:
Q1 = df_grafico['Nota_Prova1'].quantile(0.25)
Q3 = df_grafico['Nota_Prova1'].quantile(0.75)

IQR = Q3 - Q1

lim_inf = (Q1 - 1.5) * IQR
lim_sup = (Q1 + 1.5) * IQR

outliers = df_grafico[(df_grafico['Nota_Prova1'] < lim_inf | df_grafico['Nota_Prova1'] > lim_sup )]
print(outliers)

## Conclusão das outliers

Há somente um outlier

In [26]:
amplitude = df_grafico['Nota_Trabalho'].max() - df_grafico['Nota_Trabalho'].min()
amplitude

5.889520808082887

In [27]:
desvio_padrao = df_grafico['Nota_Trabalho'].std()
desvio_padrao

1.1845345518934007

## Conclusão Amplitude e Desvio

Com base nos valores fornecidos, o desvio padrão mostra que os alunos tiraram notas u ponto a menos do